<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        WebFactory team availability report
    </title>
    <meta name="robots" content="noindex,nofollow">
    <meta property="og:title" content="WebFactory team availability report">
    <style type="text/css">
        body {
            background-color: #F4F4F4;
        }
        
        #CoverPage,
        .Generic,
        .ArticlePage,
        .SystemResponsePage {
            width: 750px;
            background-color: #F4F4F4;
            margin-bottom: 1em;
        }
        
        .nw_component_wrapper {
            width: 100%;
        }
        
        .nw-componentSpacerMainCell {
            padding-bottom: 0px;
        }
        
        .nw-componentMainCell {
            padding: 0;
            background-color: transparent;
        }
        
        #maincontent .nw-componentMainCell {
            border-right: 2px solid #DBDBDB;
            border-bottom: 2px solid #DBDBDB;
        }
        
        #maintitle .nw-componentMainCell {
            padding: 0px 2px 2px 0px;
            border-right: 2px solid #DBDBDB;
            background-color: #FFFFFF;
        }
        
        .main_title {
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            color: #FFFFFF;
            background-color: #E60000;
            padding: 7px;
        }
        
        .main_content {
            font-size: 13px;
            color: #333333;
            padding: 15px 10px 10px 10px;
            background-color: #FFFFFF;
        }
        
        #wrapper {
            background-color: #F4F4F4;
            padding-top: 1em;
        }
        
        #main {
            width: 73%;
            padding: 7px 0px 0px 0px;
            background-color: #F4F4F4;
        }
        
        td {
            font-size: 14px;
            color: #333333;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>

<body style="margin:0; padding:0;">
    <div class="content" id="wrapper">
        <div class="nw_layout_LAYOUT1">
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="CoverPage" id="CoverPage">
                <tbody>
                    <tr>
                        <td id="main" valign="top">
                            <table id="nw_maintitle_wrapper" class="nw_component_wrapper" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="nw-componentSpacerMainCell">
                                            <table cellpadding="0" cellspacing="0" class="ContentBlock" id="maintitle" style="margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="nw-componentMainCell">
                                                            <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="main_title">WebFactory Availability Status for [DATE] </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table id="nw_maincontent_wrapper" class="nw_component_wrapper" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="nw-componentSpacerMainCell">
                                            <table cellpadding="0" cellspacing="0" class="ContentBlock" id="maincontent" style="margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td class="nw-componentMainCell">
                                                            <table style="width: 100%;" border="0" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="main_content">
                                                                            <table style="width: 100%;[SHOW_WF_EV]" border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <h3>WebFactory Events</h3>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-top: 10px;padding-bottom: 10px">
                                                                                            [WF_EV]
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table style="width: 100%;[SHOW_TR_EV]" border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <h3>Trainings</h3>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-top: 10px;padding-bottom: 10px;">
                                                                                            <table border="1" style="width: 100%;[SHOW_TR_EV]">
                                                                                                <tr>
                                                                                                    <td width="33%"><b>Alpha Team</b></td>
                                                                                                    <td width="33%"><b>Bravo Team</b></td>
                                                                                                    <td width="33%"><b>Charly Team</b></td>
                                                                                                </tr>
                                                                                                [TR_EV]
                                                                                                <tr>
                                                                                                    <td style="vertical-align:top">
                                                                                                        [APLHA_TR_EV]
                                                                                                    </td>
                                                                                                    <td style="vertical-align:top">
                                                                                                        [BRAVO_TR_EV]
                                                                                                    </td>
                                                                                                    <td style="vertical-align:top">
                                                                                                        [CHARLY_TR_EV]
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table style="width: 100%;[SHOW_WFH_EV]" border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <h3>Work From Home</h3>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-top: 10px;padding-bottom: 10px">
                                                                                            <table border="1" style="width: 100%;[SHOW_WFH_EV]">
                                                                                                <tr>
                                                                                                    <td width="33%"><b>Alpha Team</b></td>
                                                                                                    <td width="33%"><b>Bravo Team</b></td>
                                                                                                    <td width="33%"><b>Charly Team</b></td>
                                                                                                </tr>
                                                                                                [WFH_EV]
                                                                                                <tr>
                                                                                                    <td style="vertical-align:top">
                                                                                                        [APLHA_WFH_EV]
                                                                                                    </td>
                                                                                                    <td style="vertical-align:top">
                                                                                                        [BRAVO_WFH_EV]
                                                                                                    </td>
                                                                                                    <td style="vertical-align:top">
                                                                                                        [CHARLY_WFH_EV]
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <table style="width: 100%;[SHOW_VAC_EV]" border="0" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <h3>Vacations</h3>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-top: 10px;padding-bottom: 10px">
                                                                                            <table border="1" style="width: 100%;[SHOW_VAC_EV]">
                                                                                                <tr>
                                                                                                    <td width="33%"><b>Alpha Team</b></td>
                                                                                                    <td width="33%"><b>Bravo Team</b></td>
                                                                                                    <td width="33%"><b>Charly Team</b></td>
                                                                                                </tr>
                                                                                                [VAC_EV]
                                                                                                <tr>
                                                                                                    <td style="vertical-align:top">
                                                                                                        [APLHA_VAC_EV]
                                                                                                    </td>
                                                                                                    <td style="vertical-align:top">
                                                                                                        [BRAVO_VAC_EV]
                                                                                                    </td>
                                                                                                    <td style="vertical-align:top">
                                                                                                        [CHARLY_VAC_EV]
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" id="after_text">
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</html>