<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
        <h4 class="modal-title">{{modalTitle}}</h4>
    </div>
    <div class="modal-body">
        <div class="horizontal-scroll">
            <div class="form-group select-page-size-wrap ">
                <label>Rows on page
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
            </div>
            <table class="table" st-table="defectList">
                <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="id" st-sort-default="true">#</th>
                        <th st-sort="name">Title</th>
                        <th st-sort="owner">Assigned to</th>
                        <th st-sort="severity">Severity</th>
                        <th st-sort="priority">Priority</th>
                        <th st-sort="defectType">Defect Type</th>
                    </tr>
                    <tr>
                        <th><input st-search="id" placeholder="Search Id" class="input-sm form-control search-input" type="search" /></th>
                        <th><input st-search="name" placeholder="Search Title" class="input-sm form-control search-input" type="search" /></th>
                        <th><input st-search="owner" placeholder="Search Assigned to" class="input-sm form-control search-input" type="search" /></th>
                        <th><input st-search="severity" placeholder="Search Severity" class="input-sm form-control search-input" type="search" /></th>
                        <th><input st-search="priority" placeholder="Search Priority" class="input-sm form-control search-input" type="search" />
                        </th>
                        <th><input st-search="defectType" placeholder="Search Defect Type" class="input-sm form-control search-input" type="search" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in defectList">
                        <td class="table-id"><a target="_blank" href="https://alm.vodafone.com/qcbin/ui/?p=DIGITAL/LT_DE_OnePOS#/defects/{{item.id}}/comments">{{item.id}}<a></td>
                        <td>{{item.name}}</td>
                        <td>{{item.owner}}</td>
                        <td>{{item.severity}}</td>
                        <td>{{item.priority}}</a>
                        </td>
                        <td>{{item.defectType}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">Close</button>
    </div>
</div>